<div class="top_container btn_my_team">
 <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "40"><a href="/show" class="btn_my_team">Team</a>
</div>

<div class="container">

  <h1>TEAM NAME</h1>
  <p>falta definir o método e a variavel de instancia</p>

  <ul>
    <% @teams.each do |team| %>
    <li> <%= team.capitalize %></li>
      <% end %>


  </ul>
  <%= Time.now %>

  <%= link_to("Back", root_path) %>
</div>
