<div class="top_container btn_my_team">
 <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "40"><a href="/show" class="btn_my_team">Team</a>
 <%# <%= link_to("Team", show_path) %>
</div>


<div class="main_menu">

  <div class = "cards">
    <div class="card left_card">
      <div class="card_title">Last training session</div>
      <div class="container_slider"></div>
      <div class="container_slider_btns">
        <a href="..." class="btn btn_temp">Edit</a>
        <a href="..." class="btn btn_temp">View</a>
        <a href="..." class="btn btn_temp">Share</a>
      </div>

    </div>

    <div class="card middle_card">
      <div class="card_title">Next fixture</div>
      <div class="next_fixture_info">23 jan 2023, 9:00</div>
      <div class="opponent_logo">
        <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "150">
      </div>
      <div class="container_slider_btns">
       <a href="..." class="btn btn_temp">Game plan</a>
      </div>
    </div>

    <div class="card">
      <div class="card_title">Table</div>
      <div class="container_slider"></div>
      <div class="container_slider_btns">
        <a href="..." class="btn btn_temp">Info</a>
      </div>
    </div>

  </div>

</div>
