<div class="container btn_my_team">
 <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "40"><p>EF Hernâni Gonçalves</p>
</div>

<div class="main_menu">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
