<div class="top_container btn_my_team">
 <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "40"><a href="teams" class="btn_my_team">Team</a>
</div>


<div class="main_menu">

  <div class = "cards">
    <div class="card">
      <div class="card_title">Last training session</div>
        <%# <%= render "shared/slider" %>
      <div class="container_slider"></div>
      <div class="container_slider_btns">
        <a href="..." class="btn btn_temp">Edit</a>
        <a href="..." class="btn btn_temp">View</a>
        <a href="..." class="btn btn_temp">Share</a>
      </div>

    </div>

    <div class="card middle_card">
      <div class="card_title">Next fixture</div>
      <div class="opponent_logo">
        <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "100">
      </div>
       <a href="..." class="btn btn_temp">Game plan</a>
    </div>

    <div class="card">
      <div class="card_title">Table</div>

       <a href="..." class="btn btn_temp">Info</a>

    </div>

  </div>

</div>
