<div class="top_container btn_my_team">
 <img src="https://cdn-icons-png.flaticon.com/512/46/46887.png" alt="" width= "40"><a href="teams" class="btn_my_team">Team</a>
</div>


<div class="main_menu">
  <div class = "cards">
    <div class="card">
      <div class="card_title">Last training session</div>


    </div>

    <div class="card">
      <div class="card_title">Last training session</div>


    </div>

    <div class="card">
      <div class="card_title">Last training session</div>


    </div>

  </div>

</div>
