.main_menu {
  max-width: 960px;
  margin-left: 120px;
  margin-right: 120px;
}

.btn_my_team {
  font-family: Exo, sans-serif;
  display: -webkit-inline-box;
  -webkit-box-align: baseline;
  font-family: 'Work Sans';
  margin-inline: 8px;
  padding: 24px;
}
